body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    margin: 0;
}

.styled-button {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.styled-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.dialog-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn 0.5s;
}

.yes-button {
    background-color: #28a745;
}

.yes-button:hover {
    background-color: #218838;
}

.no-button {
    background-color: #dc3545;
}

.no-button:hover {
    background-color: #c82333;
}

.hidden {
    display: none;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #888;
}

.close-button:hover {
    color: #000;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#buttonsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px; /* Add gap between the buttons */
}
